/.cache/
/build/.qt/
/build/CMakeFiles/Progress
/build/CMakeFiles/Sudoku.dir
/build/CMakeFiles/Sudoku_autogen.dir
/build/CMakeFiles/Sudoku_autogen_timestamp_deps.dir
/build/header/
/build/Sudoku_autogen/
/build/Sudoku
